*{
    transition: 1s ease-in-out;
    /* border: 2px solid red; */
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(#ccf281,#4832d5); */
    background: linear-gradient(#01539d,#eea47f);
}
main{
    background-color: rgba(240, 250, 255, 0.61);
    box-shadow: whitesmoke 0 0 30px;
    /* border: 2px solid red; */
    border-radius: 1rem;
    width: 50vw;
    height: 40vh;
    max-width: 30rem;
    min-width: 15rem;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.time{
    /* border: 2px solid blue; */
    background: #eea47f;
    color : #fff;
    width: 80%;
    height: 2rem;
    border-radius: 1rem;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: sans-serif;
}
.lap{
    width: 50%;
    min-height: 20%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    border-radius: 1rem;
    background-color: cornflowerblue;
    color: white;
}
.lap span{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: cursive;
}
ol{
    padding: 0 3rem;
    margin : 0;
    border-radius: 1rem;
}

.controls{
    /* border: 2px solid greenyellow; */
    border-radius: 1rem;
    width: 80%;
    display: flex;;
    justify-content: space-around;
    padding: 1rem 0;
}
.controls button{
    color: whitesmoke;
    background-color: orangered;
    border: none;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    font-size: .8rem;
}

#start{
    background-color: gray;
}
#start:hover{
    color: greenyellow;
    background-color: black;
}

#pause:hover{
    background-color: red;
}

#resume{
    background-color: red;
}
#resume:hover{
    background-color: orangered;
}

#lap:hover{
    background-color: #01539d;
}

#reset{
    background-color: grey;
}
#reset:hover{
    color: red;
    background-color: black;
}